.about {
    display: flex;
    padding: 4rem 6rem 8rem;
    width: 100%;
    background-color: $Light-Grayish-Blue;
    font-family: raleway;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 62.5em) {
        padding: 6rem 4rem;
    }

    @media only screen and (max-width: 37.5em) {
        padding: 4rem 2rem;
    }

    &__text {
        width: 50%;

        &--heading {
            font-size: 4rem;
            color: $Very-Dark-Blue;

            @media only screen and (max-width: 37.5em) {
                font-size: 2rem;
            }
        }
    
        &--paragraph {
            font-size: 1.6rem;
            width: 80%;
            margin-bottom: 3rem;
            color: $Very-Dark-Blue;

            @media only screen and (max-width: 62.5em) {
                width: 100%;
                text-align: left;
            }

            @media only screen and (max-width: 37.5em) {
                font-size: 1.4rem;
                
            }
        }

        @media only screen and (max-width: 62.5em) {
            width: 100%;
            order: 2;
            text-align: center;
        }
    }

    &__img {
        width: 48%;

        @media only screen and (max-width: 62.5em) {
            width: 100%;
            order: 1;
        }
    }

}