.footer {
    padding: 8rem 6rem;
    background-color: $Very-Dark-Blue;
    color: white;

    @media only screen and (max-width: 62.5em) {
        padding: 6rem 4rem;
    }

    &__logo {
        margin-bottom: 4rem;
        // filter: brightness(0) invert(1);

        & img {
            filter: brightness(0) invert(1);
            width: 13rem;
            // decrease brightness till it all black then invert the color of it
        }
    }

    &__nav {
        display: flex;
        width: 90%;
        justify-content: space-between;

        @media only screen and (max-width: 62.5em) {
            width: 100%;
        }

        @media only screen and (max-width: 37.5em) {
            flex-direction: column;
        }
    }

    &__contact {
        display: flex;
        text-align: center;

        &-icon {
            margin-right: 1.5rem;
        }
    }

    &__item {
        list-style: none;
        font-size: 1.4rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        & a {
            color: white;
            font-family: raleway;
            text-decoration: none;
        }
    }

    &__social {
        display: flex;
    }

    &__icon {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid white;
        height: 3rem;
        width: 3rem;
        margin-right: 1.5rem;
        color: white;
        transition: all .4s;
        padding-top: 6px;
        text-align: center;

        &:hover {
            color: $Very-Dark-Blue;
            background-color: white;
        }
    }

    &__list {

        @media only screen and (max-width: 37.5em) {
            margin-bottom: 6rem;
        }
    }

    &__social {

        @media only screen and (max-width: 37.5em) {
            margin: 0 auto;
        }
    }
}

.social-icon {
    display: block;
    font-size: 1.5rem;
}

// .social-icon {
//     text-align: center;
//     display: inline-flex;
//     justify-content: center;
//     width: 3rem;
//     height: 3rem;
//     font-size: 1.5rem;
//     border: 1px solid white;
//     padding: 0.5rem;
//     border-radius: 50%;
//     margin-right: 0.5rem;
//     color: white;
//     transition: all 0.3s;

//     &::before {
//       margin-top: 0.2rem;
//     }

//     &:hover {
//       background: white;
//       color: $Very-Dark-Blue;
//     }
// }