.header {
    display: flex;
    padding: 6rem 6rem;
    justify-content: space-between;
    font-family: raleway;
    font-weight: 400;
    color: $Very-Dark-Blue;
    align-items: center;

    @media only screen and (max-width: 62.5em) {
        padding: 5rem 3rem;
    }

    @media only screen and (max-width: 37.5em) {
        padding: 4rem 2rem;
    }

    &__logo-img {
        width: 17rem;

        @media only screen and (max-width: 37.5em) {
            width: 10rem;
        }
    }

    &__nav ul {
        display: flex;
        font-size: 2rem;
        list-style: none;

        & li {

            &:not(:last-child) {
                margin-right: 5rem;

                @media only screen and (max-width: 62.5em) {
                    margin-right: 2rem;
                }
            }

            & a {
                text-decoration: none;
                color: $Desaturated-Blue;
                font-size: 1.5rem;

                @media only screen and (max-width: 62.5em) {
                    font-size: 1.4rem;
                }
    
                @media only screen and (max-width: 37.5em) {
                    font-size: 1.2rem;
                }
            }
        }

        & li {

        }
    }
}
